@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');


*{
margin: 0px;
padding: 0px;
box-sizing: border-box;
}
img {
	max-width: 100%;
	max-height: 100%;
	border: 5px groove #c40a1c;
	border-radius:15px;
}
body{
	background-image: url(../images/фон1.jpg);
	background-size: cover;
	background-attachment: fixed;
	font-family: 'Oswald', sans-serif;
}
.content {
	background-color: #7accff;
	width: 1200px;
	margin: 0px auto;
	padding: 10px;
}
.row {
	display: flex;
}
.box {
	background-color: red;
	margin: 10px;
	padding: 10px;
	width: 100px;
	flex-grow: 1;
}
footer {
	background-color: #000000;
	color: #ffffff;
}